
.jumbotron {
  background-image: url("http://images.fineartamerica.com/images-medium-large/colosseum-at-night-steve-bisgrove.jpg");
  height: 150px;
  margin-top: 20px;
  text-align: center;
  background-position: center;
  color: #F1ECFB;
  font-size:25px;
}
label {
  color:#7788AA;
}
