
.jumbotron {
  background-image: url("http://images.fineartamerica.com/images-medium-large/colosseum-at-night-steve-bisgrove.jpg");
  height: 150px;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline ;
  background-position: center;
  color: #F1ECFB;
  font-size:65px;
